# MongoDB Configuration
# Copy this file to .env and fill in your actual values
# NEVER commit .env file to Git!

MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority&appName=YourApp
DB_NAME=HtechVolam
COLLECTION_NAME=server_status

# Discord Webhook Configuration
# Get webhook URL from Discord: Server Settings > Integrations > Webhooks
# Leave empty to disable Discord notifications
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1417145871476461578/a1jMH3lX0ZTJxJoZAZW00uyPeWRig9oSTzP55AF4AAiYaPaDoyQRVyPXAFsIF0wwnkz-

# Email Configuration
# SMTP settings for sending email notifications
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=vitrannhat1@gmail.com
MAIL_PASSWORD=your-app-password
#jvsb vvpe mhfx tafm
MAIL_DEFAULT_SENDER=vitrannhat1@gmail.com
# Email recipients (comma-separated for multiple emails)
MAIL_RECIPIENTS=vitrannhat8@gmail.com
